.scrollable-content {
    height: 60vh;
    overflow: scroll;
}

.main-content {
    height: 50vh;
}

.scroller {
    position: absolute;
    right: 0;
    top: 70vh;
    z-index: 999;
    width: 20vh;
    height: auto;
}