.start-button {
    font-size: 2em;
}

.start-button-wrapper {
    align-self: flex-end;
    padding-right: 5vw;
}

.start-button-wrapper:hover {
    cursor: pointer;
}

.routine-wrapper {
    display: flex;
    flex-direction: column;
}
.routine-title {
    display:flex;
    margin-top: 10vh;

}

.routine-sub-title {
    display:flex;
    width: 80vw;
    justify-content: space-between;

}