.start-button {
    font-size: 2em;
}

.start-button-wrapper {
    align-self: flex-end;
    padding-right: 5vw;
}

.start-button-wrapper:hover {
    cursor: pointer;
}

.routine-wrapper {
    display: flex;    
    flex-direction: column;
}
.routine-title {
    display:flex;
    margin-top: 10vh;

}

.routine-sub-title {
    display:flex;
    width: 100vw;
    justify-content: space-between;

}

.lower-div {
    display: flex;
}

.next-button {
    justify-self: flex-end;
    font-weight: 600 !important;
    text-decoration-line: underline;
    
}

.button-wrapper {
    position: relative;
    display:flex;
    width: 90vw;
    justify-content: flex-end;
}